Codes/ScrapeIMDB/getActorsForMovies_csServer.py
Codes/FaceDetection/XZhuMatlab_20160308/faceDetectAllMovies_csServer.m
Codes/FaceDetection/XZhuMatlab_20160308/face-release1.0-basic
Data
Codes/ScrapeIMDB/scrapeMovie_csServer.py
Codes/FaceDetection/XZhuMatlab_20160308/saveResults_csServer.m
Codes/SetFaceData/dataLocation_csServer.m
Codes/FaceClassifier/globalVariables.m
Codes/SetFaceData/dataLocation.m
